/* Alejandro Barrionuevo Rosado */

/* animaciones */

@keyframes ani1 {
  from {
    left: 10px;
  }

  to {
    left: 220px;
  }
}

@keyframes ani2 {
  0% {
    color: darkred;
  }

  50% {
    color: #AB822D;
  }

  100% {
    color: darkred;
  }
}

/* header */

header {
  clear: right;
  background-color: darkred;
  color: white;
  text-align: right;
}

#tituloG {
  /* posicion y forma */
  position: absolute;
  left: 20px;
  width: 600px;
  height: 100px;
  /* animacion */
  -webkit-animation: ani1 2s ease-in-out 1s infinite alternate;
  animation: ani1 2s ease-in-out 1s infinite alternate;
  /* formato del texto */
  text-align: center;
  color: white;
  font-family: 'Christmas', cursive;
}

#bolasNavidad {
  /*que no se mueva*/
  position: absolute;
  /*altura desde el techo*/
  top: 8px;
  /*espacio desde la derecha de la pagina*/
  right: 20px;
}

#nombre {
  opacity: .5;
}

/* main */

#felizN {
  display: flex;
  /* formato de texto */
  font-size: 50px;
  font-family: 'Christmas', cursive;
  text-align: left;
  /* animacion */
  animation: ani2 3s infinite;
}

#barraMovimiento {
  display: flex;
  background-color: darkred;
  /* tamaño */
  width: 600px;
  height: 10px;
  left: 220px;
  /*cada 0.5s aumenta*/
  transition: width 0.5s;
}

#barraMovimiento:hover {
  width: 1300px;
  left: 220px;
  cursor: pointer;
  /*Cambiar el cursosr para que sea una mano */
}

#arbolnavidad {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

iframe {
  float: left;
  padding: 40px;
}

/* footer */

footer {
  background-color: #AB822D;
}

.textoFooter {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}